form{
	margin-top: 50px;
	margin-bottom: 70px;

}

.form-group .btn{
	width: 100%;
	text-transform: uppercase;
}
.form-control{
	padding: 17px 25px;
	font-size: 15px;
	height: auto;
	border-radius: 0;
	background: #f1f4f7;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.5;
	transition: all 0.5s;
	border: 1px solid #fff;
}

.form-control:focus{
	border: 1px solid #454554;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* MAP */
.map-text {
	position: relative;
	bottom: 4rem;
}
.mapouter{
	position:relative;
	text-align: center;
	
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	
} 
