/* sandwich menu */
.menu-toggle{
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 30px;
	color: #fff;
}

.menu{
	width: 300px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	background: #333;
	height: 100%;
	top: 0;
	right: -300px;
	position: fixed;
	z-index: 100;
	transition: right 0.8s;
}

.menu.nav-expanded{
	right: 0;
}

.menu .close{
	color: #fff;
	margin-right: 10px;
	margin-top:10px;
}

.menu h3{
	margin-top:50px;
	text-transform: uppercase;
}

.menu-logo {
	width: 80px;
	
}

.menu .nav{
	display: flex;
	flex-direction: column;
	grid-row-gap: 3rem;
	padding: 0;
}

.menu .nav > li > a{
	color: #fff;
}

.menu .nav > li > a:hover,
.menu .nav > li > a:focus{
	background: transparent;
	color: #fa694e;
}

.menu .social-icons{
	margin-top: 50px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.menu .social-icons li{
	margin-right: 10px;
	float: none;
	display: inline-block;
}

.menu .social-icons > li > a{
	width: 30px;
	height: 30px;
	line-height: 30px;
}